.fp-card {
  max-width: 420px;
  padding: 38px 44px 32px 44px;
}

.fp-subtitle {
  margin-bottom: 26px;
  color: #8b873a;
  font-size: 1.08rem;
}

.fp-success {
  color: #22643c;
  background: #eeffe9;
  border-radius: 8px;
  font-size: 1.09rem;
  font-weight: 600;
  padding: 17px 15px 17px 15px;
  margin-bottom: 19px;
  text-align: center;
  border: 1.1px solid #bfa06a;
}
