.rp-card { max-width: 420px; }
.rp-success {
  color: #22643c;
  background: #eeffe9;
  border-radius: 8px;
  font-size: 1.11rem;
  font-weight: 600;
  padding: 17px 15px;
  margin-bottom: 19px;
  text-align: center;
  border: 1.1px solid #bfa06a;
}
